git+https://github.com/facebookresearch/segment-anything.git
torch>=2.0.0
torchvision~=0.16.2
segmentation-models-pytorch
Pillow
tqdm
timm
wandb
numpy
pandas
matplotlib
seaborn
scikit-learn
lightning
wget
wheel
setuptools
packaging
zipp
future
platformdirs
datasets
PyYAML
transformers
opencv-python
label-studio
label-studio-converter
prettytable
coco-eval
albumentations
accelerate